.container
  %h4 Adress book
  %hr/
  %h5 Edit contact
  = simple_form_for(@address, html: { class: 'form'}) do |f|
    .form-group
      %label{:for => "exampleInputPassword1"} Company
      %input#exampleInputPassword1.form-control{:type => "text"}/
    .form-group
      %label{:for => "exampleInputPassword1"} *Title
      %input#exampleInputPassword1.form-control{:type => "text"}/
    .form-group
      %label{:for => "exampleInputPassword1"} Street name
      %input#exampleInputPassword1.form-control{:type => "text"}/
    .form-group
      %label{:for => "exampleInputPassword1"} City
      %input#exampleInputPassword1.form-control{:type => "text"}/
    .form-group
      %label{:for => "exampleFormControlSelect1"} *Country
      %select#exampleFormControlSelect1.form-control
        %option 1
        %option 2
        %option 3
        %option 4
        %option 5
    .form-group
      %label{:for => "exampleInputPassword1"} Postal code
      %input#exampleInputPassword1.form-control{:type => "text"}/
    .form-group
      %label{:for => "exampleInputPassword1"} *Phone number
      %input#exampleInputPassword1.form-control{:type => "number"}/
    %button.btn.btn-primary{:type => "submit"} Submit